<div class="row">
  <div class="col-9 mr-2">
    <% if @communities.size > 0 %>
      <% @communities.each do |community| %>
        <div class="card mb-2 pl-3 pt-3">
          <h3><%= link_to community.name, community %></h3>
          <%= simple_format community.rules %>
        </div>
      <% end %>
    <% else %>
      <p>No communities to display.</p>
    <% end %>
  </div>

  <div class="col-2">
    <% if account_signed_in? %>
      <%= link_to "Create New Community", new_community_path, class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
