<div class="row">
  <div class="col-10 mr-2">
    <h2><%= @community.name %></h2>
    <%= render partial: "posts/list", locals: { posts: @posts } %>
    <small>
      <%= simple_format @community.rules %>
    </small>
  </div>

  <div class="col-1 mt-5">
    <%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary" %>
  </div>
</div>